language: java
jdk:
- oraclejdk8
addons:
  apt:
    packages:
    - oracle-java8-installer
dist: trusty
sudo: false
script: gradle/buildViaTravis.sh
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle"
env:
  global:
  - secure: azAT61H8Yj1+cJF5+Eahbm1xXK27ilY20+xOAKHXO7dCOfbHUQmtINGpff8F3iVribgVbRaBh0WvfmUYedDJcWzBEtoNfYHsBb8c+SPV0QO8WrqfhowkhnygkCpHQ73pVhwRyN/PA7yS055lLI22fV870CUAoqDJmL6An13Zozop95xRnXjIDWW2nqG++QOK0AjtViigqtqwJkhbb0S+L/EsT5UgODDBeuOWr58FfmcdA11YvYquKBoftgqoeKo4j0vTjGxq5eP/AoCffiX7xpAzjQlbSNojNjkmhIZfYc0SHSUXmdEUT6QzfUzUUxFPTQ07Bw9v9ebARSc5xFdHXge28NdftLoNN/oS/LtcCQRuoOPWSIKPAbp6bZdzNY7b7ZpDCXUqM4W+5QYZ/3G9Nv+Y6o4bpkVhshItU2GX/8Zzo4Z6Xj15yN3KXYIIafgCKDz4NMVNvas0zWJFhmTtGU1bQumXIYoCbYS+B9SbZ5beOAcpr/uxGn7t0HEg+/MCoJENFVLfwdZGYwQ/0CmcLE0iWoRZ9sagbfToDqpbzsaw2WojY3R3T8V0+J0EoMqMNsiEokcHbgINjbpOzdp63eKwcLuqmhf56bWUEC4xHF1FowMNtvp18sjvbHQh/hv5vvXXZncwp1mY69ELXXzYLw0Ib7cSNx85R4dPiJPCcRI=
  - secure: uOMoQpAkIKRXxT2BSriJSYpYhKfqbm060YNnbff+VzrRf5cQ3PX+L7OSSx5+zwy85/TUe+hmdGs8kkLb40J+5FICYMxub9N5C4DF8czrOQT/+r2MyfLmvzhDlBTzHOT3ogAS5YmqpiEldX9zF0I2jj6aEZdYaBBCCiCzyFaD8oji1yrhblvrIX7qOJONnfwQ4hm32iOBPT26XAxdFS6/N8gyOaMyjBhzAMEYigv/M/rHVGoSGCz7UFOI3vrbVqQWL99iW78GwV7h21Noe6Wl8Epyo0sV+GcvW1nWrBSBvPp0q6YqqgQpTYrDiR5fABLUMKSYh9B++vsDybg507Z7LMQTL5JCdohYEwFIInd1jUNnp/7LN3kMPt3J+SxSHUTxWTMXyPyiVBnbACMpSyIGz8/1QqKAA7bxHu0UJH2pISyMecziwr7H3va8LDkm6pboj0ZR/9jLPQ2kGIWqmyFxZv4ype4GXuA7xsarFOApW8B3RFUqCGyZz9IAwNGOj17905g5HQBK5pkRpCF/wwn+R0QFq6UL/8XPa3s5rTAwpBTNKhTPflWMTs3JBiJfDVND44KAf3wJG+XCoZMVgQNPQJY3Cy853ynTMMKz67ougqlnBEC4BcxSeo+u75MHql50r2TbKA8eyRV5yBXlqxZDopEzVv0zlbsDHMT7WW7OeV8=
