name: Release CI
on:
  push:
    tags:
      - '*'

jobs:
#   test:
#     uses: ./.github/workflows/run-tests.yml
  publish:
#     needs: [ test ]
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - run: echo "KONAN_DATA_DIR=${HOME}/.gradle/konan" >> $GITHUB_ENV
      - name: Publish to Sonotype (version ${{ github.ref_name }})
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            publishAllPublicationsToSonatypeRepository
            --scan 
            --info
            -Pversion=${{ github.ref_name }}
            -PsigningKey=${{ secrets.signingKey }}
            -PsigningPassword=${{ secrets.signingPassword }}
            -PsonatypeUsername=${{ secrets.sonatypeUsername }}
            -PsonatypePassword=${{ secrets.sonatypePassword }}
          cache-read-only: true
          gradle-home-cache-includes: |
            caches
            notifications
            konan
            nodejs
            yarn
